<html>
<head>
</head>
<body>
<table>
    <ul>

        <li><%= hotel.fields.nom_commercial %></li>
        <li><%= hotel.fields.adresse %></li>
        <li><%= hotel.fields.code_postal %></li>
        <li><%= hotel.fields.dept %></li>
        <li><%= hotel.fields.commune %></li>
        <li><%= hotel.fields.capacite_d_accueil_personnes %></li>
        <li><%= hotel.fields.nombre_de_chambres %></li>
        <li><%= hotel.fields.telephone %></li>
        <li><%= hotel.fields.site_internet %></li>                
   </ul>
</table>
</body>
</html>
<!--
commune,classement,code_postal,courriel,adresse,date_de_publication_de_l_etablissement,
date_de_classement,nom_commercial,dept,capacite_d_accueil_personnes,nombre_de_chambres,
telephone,wgs84,lng,lat,site_internet
-->