<html>
<head>
</head>
<body>
<table>
    <ul>

        <li><%= data.fields.nom_commercial %></li>
        <li><%= data.fields.adresse %></li>
        <li><%= data.fields.code_postal %></li>
        <li><%= data.fields.dept %></li>
        <li><%= data.fields.commune %></li>
        <li><%= data.fields.capacite_d_accueil_personnes %></li>
        <li><%= data.fields.nombre_de_chambres %></li>
        <li><%= data.fields.telephone %></li>
        <li><%= data.fields.site_internet %></li>   
        <li>Lng : <%= data.fields.lng %> | Lat : <%= data.fields.lat %></li>             
   </ul>
   <a href="/hotel/<%= data.recordid %>/comment">Poster un commentaire sur cet hôtel</a><br/>
   <a href="/hotel/<%= data.recordid %>/comments">Voir les commentaires sur cet hôtel</a>
</table>
</body>
</html>
<!--
commune,classement,code_postal,courriel,adresse,date_de_publication_de_l_etablissement,
date_de_classement,nom_commercial,dept,capacite_d_accueil_personnes,nombre_de_chambres,
telephone,wgs84,lng,lat,site_internet
-->