<html>
<head>
</head>
<body>
<table>
    <% for (var item of data){ %>
        <tr>
            <td><a href="/hotel/<%= item.recordid %>"><%= item.fields.nom_commercial %></a></td>
            <td><%= item.fields.commune %></td>
            <td><%= item.fields.classement %></td>
            <td><%= item.fields.capacite_d_accueil_personnes %></td>
            <td><a href="/ville/<%= item.fields.code_postal%>/hotels %>"><%= item.fields.code_postal %></a></td>
            <td><td><a href="/hotels/<%= item.fields.code_postal%>/statistiques/capacite %>">Capacite CP</a></td></td>
        </tr>
    <% } %>

</table>
</body>
</html>