<! DOCTYPE HTML>
<head>
    <% include partials/head %>
</head>
<body>
    <div id="container">
    <% include partials/header %>
        <div id="main">
            <table id="listAll" class="table">
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>         
                <% for (var item of allmembres){%>
                    <tr data-id="<%= item.id %>"> 
                        <td class="firstname"><%= item.firstname %> </td>
                        <td class="lastname"><%= item.lastname %> </td>
                        <td> 
                            <a href="#" class="btn btn-sm btn-success editBtn" data-id="<%= item.id %>" data-firstname="<%= item.firstname %> " data-lastname="<%= item.lastname %>">Edit</a>
                        </td>
                        <td><a href='#' data-id="<%= item.id %>" class="btn btn-sm btn-danger delBtn">Delete</a></td>
                    </tr>
                <% } %>
                <form method="POST" id="addMembre">
                    <tr id="addMembreUI">
                        <td><input type="text" name="firstname" ></input></td>
                        <td><input type="text" name="lastname" ></input></td>
                        <td colspan="2"><input type="submit" id="addSubmitBtn" value="Ajouter"></input></td>
                    </tr>
                </form>                
            </table>           
        </div>            
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Edit</h4>
                    </div>
                    <div class="modal-body">
                        <form id="editMembre">
                            <input type="hidden" id="id" name="id"/>
                            <div class="form-group">                            
                                <label for="recipient-name" class="form-control-label">Firstname:</label>
                                <input type="text" class="form-control" id="firstname" name="firstname"/>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">Lastname:</label>
                                <input type="text" class="form-control" id="lastname" name="lastname"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="editSaveBtn" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partials/jscalls %>
</body>
</html>